<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>

<h1>
    Invalid email. Please, fill in the form again.
</h1>
    <form method='post' action='/registrations'>
        <span>
            <p>Email:</p><input id='' type='text' placeholder='email' name='email'>
        </span>
        <span>
            <p>Pasword:</p><input id='' type='text' placeholder='password' name='password'>
        </span>
        <input type='submit' value='Submit'>
    </form>
</body>

</html>