<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Layout</title>
</head>
<body>
  <h2><%-locals.errors%></h2>
  <div>
    <%if(!locals.currentUser){%>
      <h3>
        <a href='/registrations/new' id='sign-up'>Sign up</a>
        </br>
        <a href='/sessions/new' id='sign-in'>Sign in</a>
      </h3>
    <%}%>
    <%if(locals.currentUser){%>
          <h3>
              <form action="/sessions/?_method=DELETE" method="post">
              <input id="sign-out" type="submit" value="Sign out">
              </form>
          </h3>
    <%}%>
  </div>
  <%- body %>
</body>
</html>

 